[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
djangorestframework = "*"
gunicorn = "*"
dynaconf = "*"

[dev-packages]
litecli = "*"
django-stubs = { extras = ["compatible-mypy"], version = "*" }
black = "*"
pylint = "*"
djlint = "*"

[requires]
python_version = "3.10"
