{% load static %}
<!DOCTYPE html>
<html>
    <head>
        <title>
            {% block title %}
            {% endblock title %}
        </title>
        <link href="{% static "css/blog.css" %}" rel="stylesheet" />
    </head>
    <body>
        <div>
            <div id="content">
                {% block content %}
                {% endblock content %}
            </div>
            <div id="sidebar">
                <h2>Parham's blog</h2>
                <p>I don't read PhD</p>
            </div>
        </div>
    </body>
</html>
